#run thead,
tbody {
  display: block;
  width: 100%;
}

#run tbody {
  overflow: scroll;
  max-height: 50vh;
}

#run thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 40%;
}

#run thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 35%;
}

#run thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 25%;
}

#run td {
  text-align: center;
  background-color: aquamarine;
}
#run tr {
  display: flex;
  width: 100%;
}
