<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <!-- Bootstrap CSS -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
    />
    <link
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="船2.png" />
    <title>Running</title>
  </head>
  <body class="container-fluid">
    <header class="row" style="height: 10vh; background-color: aquamarine;"></header>
    <main id="run" class="row" style="height:85vh; width: 100vw; background-color: cadetblue;">
      <div class="col-4">
        <div class="row" style="height: 65vh;">
          <div class="col-12">
            <h1>Run data</h1>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>距離/km</th>
                  <th>時間</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr v-for="(runData, index) in runDatas" @click="deleteItem(index)">
                  <td>{{ runData.date }}</td>
                  <td>{{ runData.distance }}</td>
                  <td>{{ runData.time }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="height:20vh">
          <div class="col-12">
            <form @submit.prevent="addItem">
              <div class="form-group m-0">
                <input type="date" class="form-control" v-model="newItem.date">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">距離</span>
                </div>
                <input type="text" class="form-control"v-model="newItem.distance">
                <div class="input-group-prepend">
                  <span class="input-group-text">km</span>
                </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">時間</span>
                </div>
                <input type="text" class="form-control" placeholder="" v-model="newItem.min">
                <div class="input-group-prepend">
                  <span class="input-group-text">:</span>
                </div>
                <input type="text" class="form-control" placeholder="" v-model="newItem.sec">
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
          </div>
        </div>
      </main>
      <footer class="row" style="height: 5vh; background-color: antiquewhite;"></footer>
      <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
      ></script>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
      ></script>
      <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
  </body>
  </body>
</html>
